
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #222;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}


h1 {
  color: #c1121f;
  font-size: 40px;
  margin-top: 15px;
}

h2 {
  color: #c1121f;
  font-size: 28px;
  margin-bottom: 15px;
}


p {
  text-align: justify;
}


header {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}


header h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
}


.header-info {
  margin-top: 1rem;
}

.header-info p {
  color: green;
}

header p {
  margin-top: 0.25rem;
}


a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header a {
  color: inherit;
}

header a:hover {
  opacity: 0.8;
  color: #c1121f;
  transition: 0.3s;
}


header figcaption {
  font-size: 0.075rem;
  opacity: 0.25;
  margin-top: 0.25rem;
}


nav {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
}


section {
  background-color: white;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
}


#resumo {
  padding: 1.25rem;
}


#habilidades li {
  font-size: 25px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


footer {
  text-align: center;
  padding: 20px;
  color: #666;
}